# This file is used to install all dependencies for the RAG-Chatbot project.
# Run `pip install -r requirements.txt` to set up the environment.

# Core LangChain & LangSmith
langchain
langchain-core
langchain-community
langchain-classic
langchain_chroma
langchain-text-splitters
langsmith

# LLM & Embeddings
langchain-groq
langchain-huggingface
sentence-transformers
torch

# Vector Store
chromadb

# Retrievers (Keyword Search)
rank_bm25

# Document Loaders & Web Scraping
pypdf
python-docx
requests
beautifulsoup4
pandas

# Utilities
python-dotenv
pyvi

# Frontend
streamlit
torchvision